# Docker
docker-compose.override.yml

# IDEs
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Nano backups
*.save
*.save.*

# Frontend
kandan-frontend/.vite/
kandan-frontend/node_modules/
kandan-frontend/src/App.css
kandan-frontend/src/assets/
